<nav>
  <h2>Hi.</h2>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo_jsm.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <!--
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  -->
  <div id="bio">
    <p>I am David and I currently live in Tokyo.</p>
    <p>
      Take a look at my <a href="cv">cv</a>. I keep a <a href="https://github.com/mrdavid/Buchnotizen">log of all books I read</a>.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
